{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-centre">
  <h1>About Us</h1>
  <p>
    <p>Personal Details:-</p>
    <p>Name  :  Halwai Aftab Hasan Khwaja Hasan</p>
    <p>Permanent address  :  PLOT NO: 31, LINE NO: B, ROOM NO: 2, SHIVAJI NAGAR, GOVANDI.</p>
    <p>MUMBAI: 400043, MAHARASHTRA</p>
    <p>Hobbies  :  Chess, Travelling.</p>
    </p>
  </p>
</div>
{% endblock %}
