{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-centre">
     <h1>Welcome To File Utility</h1>
     <p class="lead">This application is built on the python Flask framework and is the focus for the "Utility of the Excel and CSV File" and other file utility
      for the sort file utility click here </p>
     <a href="http://127.0.0.1:5000/excelcsv">Click Here for Excel/CSV
         <p></p>
     <a href="http://127.0.0.1:5000/about">Click Here for About us</a>
 </div>
{% endblock %}
