<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
     {% block body %}{% endblock %}
    <div>

    <script scr="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>
</html>